<div ng-include="'partials/navbar'"></div>

<div ng-controller="search" class="col-sm-12">
    <div class="row">
        <div class="col-sm-12 search-box">
            <div class="input-group">
                <span class="input-group-addon">Search</span>
                <input ng-model="query" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div infinite-scroll="infiniteScroll()" infinite-scroll-disabled="busy" infinite-scroll-distance="0">
                `
                <div ng-repeat="tweet in tweets" ng-animate="animate" class="tweet-list">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="col-sm-2">
                                <img src="{{tweet.user.profile_image_url}}" />
                                <div>
                                    <small>{{tweet.user.name}}</small>
                                    <small>RT:
                                        <strong>{{tweet.retweet_count}}</strong>
                                    </small>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <span ng-bind-html="tweet.text" class="pagination-centered"></span>
                            </div>
                            <div ng-if="!!tweet.entities.urls.length">
                              <button class="btn" ng-click="toggleDisplay()">Display link</button>
                              <div ng-if="display" display-state="display" link url="{{tweet.entities.urls[0].url}}"></div>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div></div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>